/* Creamos las variables de color entre mas */
:root{
    --white: #FFFFFF;
    --black: #000000;
    --Very-light-pink: #C7C7C7;
    --Text-input-field: #F7F7F7;
    --Hospital-green: #ACD9B2;
};

body{
    font-family: 'Quicksand', sans-serif;
};